* {
  font-family: "Space Grotesk", "sans-serif";
  box-sizing: border-box;
}
#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0%;
  margin: 0%;
  box-sizing: content-box;
}

body {
  padding: 0%;
  margin: 0%;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 800px;
}

.hijo {
  width: 50%;
  margin: 0;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}

.log {
  background-color: white;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.hijo form {
  width: 60%;
  padding: 4rem 3rem 2rem 3rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08), 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.user {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.hijo form .icono {
  width: 4rem;
  height: 4rem;
  background-color: #9f1e36;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-shadow: 1px 1px 1px 2px rgb(235, 235, 235);
}

.icono i {
  color: white;
  font-size: 1.5rem;
}

.user {
  width: 100%;
}

.hijo form p {
  margin-top: 5rem;
}

.form-div {
  width: 100%;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hijo form input {
  width: 90%;
  padding: 1.2rem 1rem;
  background-color: #f8f6f6;
  border-radius: 12px;
  margin: 0%;
  border: none;
}

.frm-div {
  width: 100%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  gap: 1rem;
}

.button-div {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 0 0.5rem;
}

.button-div button {
  padding: 0.8rem;
  border: none;
  border-radius: 12px;
  margin-right: 5%;
}

.pant {
  background-color: #9f1e36;
  color: #f8f6f6;
}

.pant h2,
h1 {
  margin: 0%;
  padding: 1rem;
}

.pant h1 {
  font-size: 2.3rem;
  font-weight: 400;
}
