.solicitante {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 1rem auto 1rem auto;
  border: 1px solid black;
}

.solicitante h2 {
  margin: 0;
  padding: 2rem;
  width: 100%;
  border: 1px solid grey;
}

.solicitante-inputs {
  display: flex;
  flex-direction: column;
}

.inp-sol {
  padding: 1rem 2rem;

  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inp-sol input {
  width: 80%;
  padding: 1rem 0 1rem 0;
  border: 1px solid grey;
  border-radius: 12px;
  padding-left: 1rem;
}

.inp-sol h3 {
  margin: 0%;
}

.sugerencias {
  padding: 0 2rem;

  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn-solicitante {
  border: none;
  background-color: inherit;
  width: 80%;
  padding: 0.2rem 0;
  border-radius: 12px;
  text-align: start;
  border: 1px solid black;
}

.btn-solicitante div {
  display: flex;
  flex-direction: column;
}
.jrsx {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.5rem;
  width: 100%;
}

.btn-solicitante p {
  margin: 0;
  padding: 0.5rem 0.5rem 0 1.1rem;
  text-align: start;
}

.curseddddd {
  padding: 0;
}

.sugerencias h5 {
  color: grey;
  font-size: 0.8rem;
}
